body {
  background-color: white;
}
.title {
  padding: 20px;
  size: 48px
  text-align: left
  background-color: darkred;
  color: white;
}

.nav {
  padding: 20px;
  size: 10px;
  text-align: right;
  background-color: darkgrey;
  color: white;
}

.left-main {
  size: 28px;
  text-align: left;
  color: black;
}

.content {
  size: 12px;
  text-align: left;
  color: black
}

.right-main {
  size: 18px;
}

.footer {
  padding: 20px;
  background-color: grey;
  color: white;
  size: 12px
}
